<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>People</h1>
      <% @people.each do |person| %>
        <h3><%= person.first_name %></h3>
        <h3><%= person.last_name %></h3>
  <% end %>
      </div>
    </div>
  </div>


  <% form_tag root_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
