<%# #find all persons by specified field %>
<% @persons.each do |person| %>

<p>
First Name:
<b><%= person.first_name %></b></p><br/>
<p>
Last Name:
<b><%= person.last_name %></b></p></br/>

<% @organisations.each do |org| %>
  <p>
Organisation Title:
  <b><%= org.title %></b></p><br/>



<% end %>
<% end %>

  <%#finds all organisations by specified field %>
